.infoWrapper {
  margin-bottom: auto;
}

.profileContainer {
  width: 300px;
  height: 350px;

  background-color: #fff;
  padding-top: 15px;
  border: 2px solid black;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-bottom: 50px;
}

.personImg {
  width: 150px;
  height: 150px;

  background-color: #222020;
  border-radius: 50%;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.personName {
  font-weight: 800;
  font-size: 25px;
  margin-bottom: 15px;
}

.personTag {
  color: #656262;
}

.statsList {
  display: flex;
}

.statsItem {
  width: 100px;
  height: 70px;
  background-color: #9e9c9c;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(69, 68, 68);
  border-bottom: none;
}

.statsTitle {
  color: #000000;
}

.statsNum {
  color: #000000;
  font-weight: 700;
}
